<section>
  <h1 class="r-fit-text">live examples</h1>
</section>

<section>
  <div class="cols">
    <div class="col">
      <pre><code class="code javascript" contenteditable data-trim>
const source = Rx.Observable
.interval(1000)
.take(5)

source.subscribe(
(x) => print("x = " + x)
);


          </code></pre>
    </div>
    <div class="col output">
      <pre></pre>
    </div>
  </div>
  <div>
    <button class="button" onclick="runCode(this)">&#9654;&nbsp; Run</button>
  </div>
</section>

<section>
  <div class="cols">
    <div class="col">
      <pre><code class="code javascript" contenteditable data-trim>
const click$ = Rx.Observable
.fromEvent(document, 'click')

const clickCount$ = click$
.buffer(() => click$.debounce(500))
.map(events => events.length)

clickCount$
.filter(count => count == 1)
.subscribe(() =>
print('Nice click'))

clickCount$
.filter(count => count == 2)
.subscribe(() =>
print('Wow, such doubleclick!'))

clickCount$
.filter(count => count > 2)
.subscribe(() =>
print('So many clicks!'))
          </code></pre>
    </div>
    <div class="col output">
      <pre></pre>
    </div>
  </div>
  <div>
    <button class="button" onclick="runCode(this)">&#9654;&nbsp; Run</button>
  </div>
</section>

<section>
  <h4>
    Take small &amp; simple events <br />
    and <strong>compose them</strong> to <br />
    create more <em>complex events</em>.
  </h4>
</section>

<section>
  <h4 class="rx-title">
    <img src="img/angular_hel.png" alt="" />
    Angular2
  </h4>
</section>

<section>
  <h4>AsyncPipe</h4>
  <pre><code class="code typescript" data-trim>
import {AsyncPipe} from "angular2/common";

@Component({
selector: "list",
pipes: [AsyncPipe],
template: `&lt;h4&gt;{{ title | async }}&lt;/h4&gt;
&lt;ul&gt;
&lt;li *ngFor="#item of items | async"&gt;{{ item }}&lt;/li&gt;
&lt;/ul&gt;`
})
export class List {
@Input() title: Observable&lt;string&gt;;
@Input() items: Observable&lt;string[]&gt;;
}
  </code></pre>
  <div
    class="fragment callout position-top"
    data-callout="span.hljs-string:contains('list')"
    data-callout-offset-left="220"
    data-callout-offset-top="90"
  >
    <div class="callout-text">Subscribes to the Observable</div>
    <div class="callout-arrow"></div>
  </div>
</section>

<section>
  <h4>Http</h4>
  <pre><code class="code typescript" data-trim>
import {Http} from "angular2/http";

@Injectable()
export class GithubSearch {
private baseUrl = "https://api.github.com";

constructor(private http: Http) {}

searchUsers(term: string): Observable&lt;string[]&gt; {
return this.http.get(this.baseUrl + "/search/users?q=" + term)
.map(response => response.json())
.map(result => result.items.map(item => item.login))
.share();
}
}
  </code></pre>
  <div
    class="fragment callout position-right"
    data-callout="span.hljs-string:contains('search')"
    data-callout-offset-left="-470"
    data-callout-offset-top="130"
  >
    <div class="callout-arrow"></div>
    <div class="callout-text">To prevent duplicate requests</div>
  </div>
</section>

<section>
  <div style="height: 60px; text-align: left; position: relative">
    <input
      type="text"
      id="autocomplete"
      style="font-size: 16px; padding: 5px"
    />
    <div id="autocomplete-suggestions"></div>
  </div>
  <div class="cols2">
    <div class="col2">
      <pre><code class="code typescript" data-trim>
@Component({
selector: "autocomplete",
pipes: [AsyncPipe],
template: `&lt;input [ngFormControl]="search"&gt;
&lt;ul&gt;
&lt;li *ngFor="#suggestion of suggestions | async"&gt;
 {{ suggestion }}
&lt;/li&gt;
&lt;/ul&gt;`
})
export class Autocomplete {
public search = new Control();
public suggestions: Observable&lt;string[]&gt;;

constructor(github: GithubSearch) {
this.suggestions = this.search.valueChanges
.debounceTime(400)
.map(keyword => keyword.trim())
.filter(keyword => keyword.length > 0)
.distinctUntilChanged()
.map(keyword => github.searchUsers(keyword))
.switch();
}
}
          </code></pre>
    </div>
  </div>
  <!-- http://plnkr.co/edit/sJ7nopEGhhhTXyVuwccf -->
  <!-- http://plnkr.co/edit/gPInaMHTbVsI17oKQV9u -->
</section>
